@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(240,255,255,0.5);
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 10vw;
}

html {
  width: 100vw;
  height: 100vh;
}

article {
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.parfait {
  background-image: url(../img/parfait.png);
  background-color: rgb(139,69,19,0.5);
}

.bar {
  background-image: url(../img/bar.png);
  background-color: rgb(221,160,221,0.5);
}

.montblanc {
  background-image: url(../img/montblanc.png);
  background-color: rgb(255,165,0,0.5);
}

.christmas {
  background-image: url(../img/christmas.png);
  background-color: rgb(255,99,71,0.5);
}